<section class="homeAdmin">
  <nav>
    <div class="profile">
      <i class="fa-solid fa-circle-user"></i>
      <h4>Maria Santos</h4>
    </div>
    <div class="logOut" routerLink="">
      <img src="assets\img\cerrar-sesion.png">
    </div>
  </nav>
  <section class="adminContainer">
    <div class="adminOptions">
      <div class="optionEmployees" (click)="setStateOfViewUsers()" [className]="renderTableControler === 'userTable' ? 'optionEmployees' : 'optionEmployeesChange'">
        <i class="fa-regular fa-user"></i><p>Empleados</p>
      </div>
      <div class="optionProducts" (click)="setStateOfViewProducts()" [className]="renderTableControler === 'productsTable' ? 'optionProductsChange' : 'optionProducts'">
        <i class="fa-solid fa-cart-shopping"></i><p>Productos</p>
      </div>
    </div>

  </section>
</section>
<!-- <ng-template #msj2>
  <td>{{msj2}}</td>
</ng-template> -->

<section class="tables">
  <ng-container *ngIf="renderTableControler === 'userTable'; else productsTable ">
    <app-home-admin-users></app-home-admin-users>
  </ng-container>
</section>

<ng-template #productsTable>
  <app-home-admin-products></app-home-admin-products>
  </ng-template>

