<section class="content" [dir]="direction">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="80%" fxFlex.sm="33%" *ngFor="let orderData of ordersDelivering">
        <mat-card class="example-card">
          <p class="title">Orden número: {{orderData.id}}</p>
          <mat-card-content>
            <p class="status">Estado: {{orderData.status}}</p>
            <p class="date">Fecha de pedido: {{orderData.dataEntry | date: 'dd/MM/yyyy HH:mm'}}</p>
            <p class="date">Fecha de entrega: {{orderData.dateProcessed | date: 'dd/MM/yyyy HH:mm'}}</p>
            <p class="client">Cliente: {{orderData.client}}</p>
            <div class="productsList" *ngFor="let productData of orderData.products">
              <div>
                <p class="quantity">{{productData.qty}}</p>
                <p>{{productData.product.name}}</p>
              </div>
              <p class="price">{{productData.product.price | currency}}</p>
            </div>
            <div class="options" *ngIf="(orderData.status === 'delivering')">
              <button mat-stroked-button class="btndelivered" (click)="updateOrdersStatus(orderData.id)">Entregar</button>
              <!-- <button mat-stroked-button class="btnCancel">Cancelar</button> -->
            </div>

          </mat-card-content>
        </mat-card>
    </div>
  </div>
</section>
