
.orderOptions{
  display: flex;
  justify-content: center;
  width: 100%;
}
.delivering, .delivered{
  padding: 5px 4px;
  width: 50%;
  font-size: 1.2em;
}
.delivered {
  border-radius: 0 0 8px 0px;
  background-color: rgb(24, 22, 22);
  color: white;

}
.delivering {
  border-radius: 0 0 0px 8px;

  background-color: #FFCA40;
  color: black;
}

/* @media screen and (max-width:850px){
  .options{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .btndelivered, .btnCancel{
    margin-bottom: 10px;
    width: 80%;
  }
} */
