<section class="content" [dir]="directionCard">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="80%" fxFlex.sm="33%" *ngFor="let product of productsBreakfast">
        <mat-card class="example-card">
          <img mat-card-image src="{{product.image}}" alt="imagen de cada producto">
          <mat-card-content>
            <p>
              {{product.name}}
            </p>
            <p>
              {{product.price}}
            </p>
          </mat-card-content>
          <div class="addProducts" (click)="openSideBareEvent(true)">
            <p class="addParagraph">AÑADIR</p>
          </div>
        </mat-card>
    </div>
  </div>
</section>
