.content{
  padding: 16px;
}

.mat-card-image:first-child {
  margin-top: 0px;

}

.mat-card>:first-child {
  margin-top: 0;
}
.mat-card-image {
  /* width: calc(100% + -10px); */
  width: 65%;
  margin: 0px auto 15px;
  /* margin: 0 -16px 16px -16px; */
}

.addProducts {
  display: flex;
  justify-content: start;
  align-items: center;
  /* width: 50%; */
  border: 2px solid black;
  border-radius: 10px;
  height: 2.3em;
}

.addParagraph {
  margin: 0 auto;

}

/* PARA DESTOK */
/* .addProducts:hover {
  background-color: #FFCA40;
} */

.mat-icon {
  font-size: 25px;
}
