<!-- <tbody>
  <tr *ngFor="let region of regions">
    <ng-container *ngIf="region.sales > 200">
      <td>{{region.region}}</td>
      <td>{{region.regionalManager}}</td>
      <td>{{region.sales}}</td>
    </ng-container>
  </tr>
</tbody> -->

<section class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="25%" fxFlex.xs="90%" fxFlex.sm="33%" *ngFor="let product of productsBreakfast">
      <!-- <ng-container *ngIf="product.type === 'Desayuno'"> -->
        <!-- *ngIf="product.type === 'Desayuno'" -->
        <mat-card class="example-card">
          <img mat-card-image src="{{product.image}}" alt="">
          <mat-card-content>
            <p>
              {{product.name}}
            </p>
            <p>
              {{product.price}}
            </p>
          </mat-card-content>
          <div class="addProducts">
            <p class="prueba">AÑADIR</p>
            <mat-icon class="mat-icon">add_circle</mat-icon>
          </div>
        </mat-card>
      <!-- </ng-container> -->
    </div>
  </div>
</section>
