* {
  margin: 0;
  padding: 0;
}

.homeContainer {
    width: 100%;
    height: 100%;
    background-image: url("../../../../assets/img/fondoHamburguesa.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.homeChef {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 8px 19px;
  background-color: rgba(249, 244, 244, 0.78);
  width: 96%;
  height: 60px;
  margin: 5px auto 5px;
}

.profile {
  display: flex;
  align-items: center;
}

.profile h4 {
  margin-left: 20px;
  font-size: 1.8em;
  margin-top: 15px;
  font-weight: 600;
}

.fa-solid {
  font-size: 45px;
}
.navOptions{
  display: flex;
  align-items: center;
}

.logOut {
  display: flex;
  align-items: center;
}

.logOut img {
  width: 45px;
  margin-left: 17px;
}

.chefContainer {
  background-color: rgba(249, 244, 244, 0.78);
  width: 96%;
  margin: auto;
  height: 70px;
}

.chefOptions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  margin: 5px auto;
  height: 90%;

}

/* cambio de color de botones */
.unselectedPending p,.unselectedLunch p,.unselectedDelivering p,.selectPending p,.selectLunch p, .selectDelivering p{
  font-weight: 500;
  font-size: 26px;
  margin-left: 22px;
  margin-top: 7px;
}

.unselectedPending,.unselectedLunch,.unselectedDelivering,.selectPending,.selectLunch, .selectDelivering{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
}
.unselectedPending{
  background-color: white;
  border-radius: 7px 0 0 7px;
}
.unselectedLunch{
  background-color: white;
  border-radius: 0 0 0 0;
}
.unselectedDelivering{
  background-color: white;
  border-radius: 0 7px 7px 0;
}

.selectPending{
  background-color: #FFCA40;
  border-radius: 7px 0 0 7px;
}

.selectDelivering{
  background-color: #FFCA40;
  border-radius: 0 7px 7px 0;
}
.containerHomeChefBody{
  /* height: 78%; */
  margin-top: 5px;
  /* background: rgba(249, 244, 244, 0.78); */
  background-image: url("../../../../assets/img/fondoHamburguesa.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  width: 100%;
}



@media screen and (min-width:800px){

  .fa-solid{
    font-size: 33px;
  }
  .logOut img{
    width: 34px;
  }

}






