<h1 mat-dialog-title>{{actionTitle}}</h1>
<div mat-dialog-content>
  <form [formGroup]="newUserForm">

    <!-- <mat-form-field appearance="outline">
        <mat-label>ID</mat-label>
        <input formControlName="id" matInput type="number" placeholder="id">
      </mat-form-field> -->

    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" formControlName="password" matInput placeholder="Password">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rol</mat-label>
      <mat-select  formControlName="roles" placeholder="Rol">
        <mat-option value="Administrador">Administrador</mat-option>
        <mat-option value="Mesera">Mesera</mat-option>
        <mat-option value="Chef">Chef</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button class="btnExit" mat-raised-button mat-dialog-close>Cerrar</button>
  <button class="btnSave" mat-raised-button color="primary" (click)="addUser()">{{actionBtn}}</button>
</div>

