.example-spacer {
  flex: 1 1 auto;
}

/* //mat-input focused color */
.mat-form-field-underline,
.ng-tns-c84-8,
.ng-star-inserted,
.mat-form-field-subscript-wrapper {
  color: black !important;
}

/* // mat-label focused style */
::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background: black !important;
}

.mat-input-element {
  caret-color: black;
}

.filter {
  font-size: 1.3em;
}

.crudProductsContainer {
  background-color: rgba(249, 244, 244, 0.78);
  width: 96%;
  margin: 9px auto;
  height: 100%;
  padding-top: 7px;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

table {
  margin: 7px auto;
  width: 100%;
}
th, td, .editIcon{
  color: black;
}
th {
  background-color: #FFCA40;
  font-size: 1.6em;
  font-weight: 600;
}

td {
  font-size: 20px;
}

.contentTable {
  margin: 7px auto;
  width: 94%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.deleteIcon {
  color: rgba(226, 6, 6, 0.904);
}

mat-icon {
  font-size: 30px;
  margin-left: 15px;
}

.mat-form-field-appearance-standard .mat-form-field-flex {
  padding-top: 0;
}
.container, .adminAddUsers{
  margin: 0 auto;
}
.container{
  max-width: 1200px;
}

.adminAddUsers {
  display: flex;
  width: 96%;
  height: 44px;
}

.adminAddUsers .optionAddUsers {
  display: flex;
  width: 195px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 9px;
}

.adminAddUsers .fa-solid {
  font-size: 30px;
}

.adminAddUsers p {
  font-size: 20px;
  margin-left: 5px;
  margin-top: 10px;
}

.optionAddUsers {
  cursor: pointer;
}

.imgProduct {
  height: 40px;
  width: 40px;
}

tr.mat-header-row {
  height: 46px;
}

tr.mat-row,
tr.mat-footer-row {
  height: 44px;
}

.mat-paginator-container {
  min-height: 40px;
  max-height: 50px;
}

th.mat-header-cell:last-of-type,
td.mat-cell:last-of-type,
td.mat-footer-cell:last-of-type {
  padding-right: 0px;
}

@media screen and (max-width:420px) {
  .homeContainer {
    height: 100%;
  }

  .homeAdmin {
    height: 85px;
  }

  nav {
    padding: 5px 19px;
    height: 40px;
    margin: 3px auto;
  }

  .adminContainer {
    height: 40px;
  }

  .fa-solid {
    font-size: 28px;
  }

  .profile {
    margin-left: 20px;
    font-size: 1.2em;
    margin-top: 7px;
  }

  .logOut img {
    width: 26px;
  }

  .adminAddUsers {
    height: auto;
  }

  .adminAddUsers .optionAddUsers {
    width: 147px;
    height: 35px;
  }

  .adminAddUsers .fa-solid {
    font-size: 18px;
  }

  .adminAddUsers p {
    font-size: 1em;
  }


  tr.mat-header-row {
    height: 29px;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-form-field-wrapper {
    padding-bottom: 12px;
  }

  tr.mat-header-row {
    height: 26px;
  }

  th {
    font-size: 0.8em;
    font-weight: 600;
  }

  td.mat-cell:first-of-type {
    padding-left: 10px;
  }

  td {
    font-size: 0.8em;
  }

  mat-icon {
    font-size: 1.4em;
  }

  .mat-form-field-wrapper {
    padding-bottom: 11px;
  }

  .mat-form-field {
    font-size: 0.8em;
  }

}
