<!-- <app-home-admin></app-home-admin> -->
<section class="crudProductsContainer">
  <div class="adminAddUsers">
    <div class="optionAddUsers" (click)="openDialog()">
      <i class="fa-solid fa-circle-plus"></i> <p>Añadir producto</p>
    </div>
  </div>
  <div fxFlex="90%" fxFlex.xs="90%" fxFlex.sm="95%" class="contentTable">
    <div  style="margin: top 10px;">

      <mat-form-field appearance="standard">
        <mat-label>Filtrar</mat-label>
        <input class="filter" matInput (keyup)="applyFilter($event)" placeholder="ingrese el nombre del producto" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Producto </th>
            <td mat-cell *matCellDef="let row"> {{row.name}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Precio </th>
            <td mat-cell *matCellDef="let row"> {{row.price | currency}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Imagen </th>
            <td mat-cell *matCellDef="let row">
              <img class="imgProduct" src="{{row.image}}">
              <!-- <img class = "imgProduct" *ngSwitchCase="'Café Americano'" src="../../../../assets/img/cafeamericano.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Café con leche'" src="../../../../assets/img/cafeconleche.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Sandwich de jamón y queso'" src="../../../../assets/img/sandwich.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Jugo de frutas natural'" src="../../../../assets/img/jugo.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Hamburguesa simple'" src="../../../../assets/img/simple.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Hamburguesa doble'" src="../../../../assets/img/doble.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Papas fritas'" src="../../../../assets/img/papasfritas.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Aros de cebolla'" src="../../../../assets/img/arosdecebolla.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Agua de 500ml'" src="../../../../assets/img/agua500ml.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Agua de 750ml'" src="../../../../assets/img/agua750ml.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Gaseosa de 500ml'" src="../../../../assets/img/gaseosa500ml.jpg">
              <img class = "imgProduct" *ngSwitchCase="'Gaseosa de 750ml'" src="../../../../assets/img/gaseosa750ml.jpg"> -->
            </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo </th>
            <td mat-cell *matCellDef="let row"> {{row.type}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acción </th>
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button class="editIcon" (click)="editProduct(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button class="deleteIcon" (click)="deleteProduct(row.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No se encontraron coincidencias con "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>


    </div>
  </div>
  </section>

