* {
  margin: 0;
  padding: 0;
}
/* .adminUsersContainer{
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/img/fondoHamburguesa.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

/* .homeAdmin {
  height: 100vh;
  width: 100%;
  background-image: url("../../../assets/img/fondoHamburguesa.png");
  background-repeat: no-repeat;
  background-size: cover;
} */

.crudUsersContainer {
  background-color: rgba(249, 244, 244, 0.78);
  width: 96%;
  margin: 9px auto;
  height: 100%;
  /* margin-top: 20px; */
  padding-top: 20px;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(249, 244, 244, 0.78);
  width: 96%;
  height: 10vh;
  margin: 10px auto;
}

.profile {
  display: flex;
  align-items: center;
}

.profile h4 {
  margin-left: 20px;
}

.fa-solid {
  font-size: 50px;
}

.logOut {
  display: flex;
  align-items: center;
}

.logOut img {
  width: 45px;
}

.adminContainer {
  background-color: rgba(249, 244, 244, 0.78);
  width: 96%;
  margin: auto;
  height: 87vh;
}

.adminOptions {
  display: flex;
  width: 96%;
  margin: 0 auto;
  height: 100px;
}

.optionEmployees {
  display: flex;
  background-color: #FFCA40;
  width: 140px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 20px 20px 10px 20px;
}

.optionEmployees .fa-regular {
  font-size: 30px;
}

.optionEmployees p {
  font-size: 20px;
}
.optionProducts {
  display: flex;
  background-color: white;
  width: 140px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 20px 20px 10px 20px;
}

.optionProducts {
  font-size: 20px;
}

.optionProducts .fa-solid {
  font-size: 30px;
}

.adminAddUsers {
  display: flex;
  width: 96%;
  margin: 0px auto;
  height: 60px;
}

.adminAddUsers .optionAddUsers {
  display: flex;
  width: 180px;
  height: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 0 9px;
}

.adminAddUsers .fa-solid{
  font-size: 30px;
}

.adminAddUsers p {
  font-size: 20px;
  margin-left:5px;
  margin-top: 10px;
}

.optionAddUsers {
  cursor: pointer;
}

.table {
  margin: 7px auto;
  width: 94%;
}

.tableHeader {
  background-color: #FFCA40;
  height: 56px;
}

/*TABLE*/

.tableHeader th {
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 18px;
}

tbody th {
  font-size: 20px;
  text-align: center;
}
tbody td {
  font-size: 20px;
  height: 46px;
}
tbody tr{
  background: white;
  height: 46px;
}

.actionButtons {
  display: flex;
  justify-content: space-around;
}

.actionButtons .fa-solid {
  font-size: 22px;
}
.iconDelete {
  color: rgba(226, 6, 6, 0.904);
}

.iconUpdate {
  color: rgb(3, 3, 36);
}
