<!-- <section class="homeAdmin">
  <nav>
    <div class="profile">
      <i class="fa-solid fa-circle-user"></i>
      <h4>Maria Santos</h4>
    </div>
    <div class="logOut">
      <img src="assets\img\cerrar-sesion.png">
    </div>
  </nav>
  <section class="adminContainer">
    <div class="adminOptions">
      <div class="optionEmployees">
        <i class="fa-regular fa-user"></i><p>Empleados222</p>
      </div>
      <div class="optionProducts">
        <i class="fa-solid fa-cart-shopping" routerLink="/admin/products"></i><p>Productos</p>
      </div>
    </div> -->


  <section class="crudUsersContainer">
    <div class="adminAddUsers">
      <div class="optionAddUsers" (click)="openDialog()">
        <i class="fa-solid fa-circle-plus"></i> <p>Crear Usuario</p>
      </div>
    </div>
    <table class="table">
      <thead class="tableHeader">
        <tr>
          <th scope="col">Usuario</th>
          <th scope="col">Email</th>
          <th scope="col">Rol</th>
          <th scope="col">Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employ of users">
          <th scope="row">{{employ.id}}</th>
          <td>{{employ.email}}</td>
          <td *ngIf="employ.roles.admin===true">{{msj}}</td>
          <td *ngIf="employ.roles.admin===false">{{msj2}}</td>
          <td class="actionButtons">
            <i class="iconUpdate fa-solid fa-pen" (click)="editUsers(employ)"></i>
            <i class="iconDelete fa-solid fa-trash" (click)="deleteUsers(employ)"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </section>


<!-- <ng-template #msj2>
  <td>{{msj2}}</td>
</ng-template> -->
