<!-- <p>soy login</p> -->
<section class="loginContainer">
  <section class = "loginFormContainer">
    <div class="titleLogin">
      <h2>BURGER</h2>
      <h2>QUEEN</h2>
    </div>

   <form [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
      <div class="text-danger" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched">
        <span>Ingresar email, campo obligatorio</span>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
      <div class="text-danger" *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">
        <span>Ingresar contraseña, campo obligatorio</span>
      </div>
    </div>
    <button type="submit" class="btn" [disabled]="loginForm.invalid">Iniciar Sesión</button>
   </form>
  </section>

<figure>
  <img src="../../../assets/img/hamburguesaDibujo.png" alt="Imagen de hamburguesa"/>
</figure>
</section>
